* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

  }


.header-container {
    background-color: #1f2937;
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-direction: row;   
    align-items: center;
    justify-content: space-between;
    
    }


.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
}   

.Header-Logo {

    color: #f9faf8;
    font-size: 35px;
     
    }

.page-links {

    color: #e5e7eb;
    font-size: 25px;
}



.Presentation-container {

    background-color: #1f2937;
    display: flex;
    padding:200px 300px 200px 300px;
    
}

.Presentation-Page {
    color: white;
    display: flex;
    flex-direction: column;
    padding: auto;
    justify-content: center;
    
    
    
 }

.title-1 {
    font-size: 60px;
    font-weight:bolder;
    color: white;
    padding-right: 500px;
    
    
}

.Sub-Text {

    font-size: 30px;
    color: #cfd2d7;
    padding: 8px 200px 0px 0px;
    

}

.button {

    padding-top: 15px;
}

.continue {
    cursor: pointer;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: 500;
    font-size: 30px
        
}



.photo-grid {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px
    
    
    
}


.title-2 {

    padding: 30px;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    justify-content: center
    
    
}


.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 300px;
    text-align: center;
    padding: 20px;
    
    
    
    
}

.photo-grid-item {
    display: flex;
    width:180px;
	height:180px;
    border: 5px solid #3882F6;
    border-radius: 12px;

}

div.text {

max-width: 180px;
font-size: large;
text-align: center;

}

.Quote-container {

    background-color: #e5e7eb;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 600px 100px 600px;

}

.Quote {

    font-size: 40px;
    font-style: italic;
    color: #1f2937;
    font-weight: 100;
}

.author-container {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    font-weight: bolder;
    padding-top: 50px;


}

.square-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 120px;
    


}

.sign-up-square {
    
    display: flex;
    width:1500px;
	height:180px;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    justify-content: space-around;
    align-items: center;
    
    

}

.square-text-container {

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


}

.square-title {

font-size: 25px;
font-weight: 900;
}

.square-text {

font-size: 20px;
    
}

.sign-up {
    display: flex;
    cursor: pointer;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
    background: #3882F6;
    border: 3px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    max-height: 50px;
    align-items: center;
}

.footer-container {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    background-color: #1f2937;
    color: white;
    font-size: large;

}